@(formTitle: String)

<fieldset>
    <!-- Header -->
    <div id="legend" class="mrgT10">
        <legend>@formTitle</legend>
    </div>
    <div class="form-group">
        <label for="connectionName">Connection Name</label>
        <input type="text" class="form-control" id="connectionName" name="connectionName">
    </div>
    <div class="form-group">
        <label for="connectionDescription">Connection Description</label>
        <input type="text" class="form-control" id="connectionDescription" name="connectionDescription">
    </div>
    <div class="form-group">
        <label for="delimiter">Delimiter</label>
        <input type="text" class="form-control" id="delimiter" name="delimiter">
    </div>
    <div class="form-group">
        <label for="quoteCharacter">Quote Character</label>
        <input type="text" class="form-control" id="quoteCharacter" name="quoteCharacter">
    </div>
    <div class="form-group">
        <label for="csvFile">File input</label>
        <input type="file" class="form-control-file" id="csvFile" name=csvFile>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

    <div class="form-group pull-right">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
            <button id="cancel" class="btn cancel">Cancel</button>
        </div>
    </div>
</fieldset>