@import helper._

@import models.connections.CSVConnection
@import models.connections.SQLConnection
@import models.users.User

@import views.html.components.main
@import views.html.components.sidebar
@import views.html.connections.sidebarContent
@import utils.SidebarElement


@(user: User, sqlForm: play.data.Form[SQLConnection],
        csvForm: play.data.Form[CSVConnection], sidebarCSV: java.util.List[SidebarElement],
        sidebarSQL: java.util.List[SidebarElement], addCsv : Boolean)

@main(user)(sidebar(sidebarContent(sidebarSQL, sidebarCSV))){
    <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">
        @if(flash.containsKey("success")) {
            <div class="well">
                <div id="success-message" class="text-success">
                @Controller.flash.get("success")
                </div>
            </div>
        }
        @if(flash.containsKey("error")) {
            <div class="well">
                <div id="error-message" class="text-danger">
                @Controller.flash.get("error")
                </div>
            </div>
        }
        <div>
            <ul class="nav nav-tabs nav-justified">
                <li @if(!addCsv){class="active"}>
                    <a data-toggle="tab" href="#add-new-sql">Add New SQL Connection</a>
                </li>
                <li @if(addCsv){class="active"}>
                    <a data-toggle="tab" href="#add-new-csv">Add New CSV Connection</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="add-new-sql" class="tab-pane fade @if(!addCsv){in active}">
                    @form(action = controllers.routes.ConnectionController.addSQLConnection(), 'class -> "form-horizontal") {
                        @CSRF.formField
                        @views.html.connections.sqlConnectionFieldset(sqlForm, "Add New SQL Connection", false)
                    }
                </div>
                <div id="add-new-csv" class="tab-pane fade @if(addCsv){in active}">
                    @form(action = controllers.routes.ConnectionController.addCSVConnection()
                        , 'enctype -> "multipart/form-data", 'class -> "form-horizontal") {
                        @CSRF.formField
                        @views.html.connections.csvConnectionFieldset(csvForm, "Add New CSV Connection", false)
                    }
                </div>
            </div>
        </div>
    </div>
}