@import helper._
@import models.connections.SQLConnection
@import models.users.User

@import views.html.components.main
@import views.html.components.sidebar
@import views.html.connections.sidebarContent
@import utils.SidebarElement


@(user: User, sqlForm: play.data.Form[SQLConnection], sidebarCSV: java.util.List[SidebarElement], sidebarSQL: java.util.List[SidebarElement])

@main(user)(sidebar(sidebarContent(sidebarSQL, sidebarCSV))){
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    @if(flash.containsKey("success")) {
    <div class="well">
        <div id="success-message" class="text-success">
        @Controller.flash.get("success")
        </div>
    </div>
    }
    @if(flash.containsKey("error")) {
    <div class="well">
        <div id="error-message" class="text-danger">
            @Controller.flash.get("error")
        </div>
    </div>
    }
    <div>
        <div id="add-new-sql">
            @form(action = controllers.routes.ConnectionController.updateSQLConnection(sqlForm.get().getId), 'class -> "form-horizontal") {
            @CSRF.formField
            @views.html.connections.sqlConnectionFieldset(sqlForm, "Edit SQL Connection", true)
            }
        </div>
    </div>
</div>
}