@import helper._
@import views.html.components.main
@import models.users.User
@import models.connections.CSVConnection

@(user : User, activeTab : String, csvConnection : play.data.Form[CSVConnection])

@main(user, activeTab){
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Datasources</h1>

    <h2 class="sub-header">New CSV File</h2>

    @helper.form(controllers.routes.PivotTableController.addRow(), 'enctype -> "multipart/form-data", 'class -> "rowForm",  'id -> "rowForm"){
      @CSRF.formField
      <div class="form-group">
        <label for="connectionName">Connection Name</label>
        <input type="text" class="form-control" id="connectionName">
      </div>
      <div class="form-group">
        <label for="connectionDescription">Connection Description</label>
        <input type="text" class="form-control" id="connectionDescription">
      </div>
      <div class="form-group">
        <label for="delimiter">Delimiter</label>
        <input type="text" class="form-control" id="delimiter">
      </div>
      <div class="form-group">
        <label for="quoteCharacter">Quote Character</label>
        <input type="text" class="form-control" id="quoteCharacter">
      </div>
      <div class="form-group">
        <label for="newlineCharacter">New Line Character</label>
        <input type="text" class="form-control" id="newlineCharacter">
      </div>
      <div class="form-group">
        <label for="csvFile">File input</label>
        <input type="file" class="form-control-file" id="csvFile">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    }



    <a href="@controllers.routes.ConnectionController.datasources()">
      <button type="button" class="btn btn-secondary mrgT10 pull-right">Back</button>
    </a>
  </div>
}