@import views.html.components._
@import models.users.User
@import models.connections.SQLConnection
@import utils.SidebarElement

@(user : User, sqlForm : play.data.Form[SQLConnection], sidebarSQL: List[SidebarElement], sidebarCSV: List[SidebarElement])
@main(user)(sidebar(sidebarSQL)){
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Datasources</h1>

    <h2 class="sub-header">New SQL Connection</h2>



    <a href="@controllers.routes.ConnectionController.datasources()">
      <button type="button" class="btn btn-secondary">Back</button>
    </a>
  </div>
}