@import helper._
@import models.sources.CSVSource
@import models.connections.CSVConnection

@(csvSourceForm: play.data.Form[CSVSource], formTitle: String = "", deleteButton : Boolean)

<fieldset>
    <!-- Header -->
  <div id="legend" class="mrgT10">
    <legend>@Html(formTitle)</legend>
  </div>
  @inputText(csvSourceForm("sourceName"),
    '_showConstraints->false,
    '_label->"Source Name",
    'placeholder->"my-source-name",
    'style-> "width:100%",
    'class-> "form-control",
    'required -> true,
    'help->"Enter a name for this source")

  @textarea(csvSourceForm("sourceDescription"),
    '_showConstraints->false,
    '_label->"Source Description",
    'placeholder->"Provide a description",
    'rows->3, 'style-> "width:100%; resize:none;",
    'class-> "form-control",
    'required -> true,
    'help->"Enter the connection description")

  @select(
    field = csvSourceForm("factTable.id"),
    options = CSVConnection.find.all.map(conn => conn.getId.toString -> conn.getConnectName),
    '_showConstraints->false,
    '_label->"Fact Table",
    '_default->"Please select a connection",
    'rows->3, 'style-> "width:100%; resize:none;",
    'class-> "form-control",
    'required -> true,
    'help->"Enter the connection description")

  <div class="pull-right">
  @if(deleteButton){
    <button id="submit" type="submit" value="Submit" class="btn btn-success">Update</button>
    <a href="@controllers.routes.SourceController.deleteCSVSource(csvSourceForm.get.getId)" class="no-style">
      <button type="button" class="btn btn-danger">Delete</button>
    </a>
  } else {
    <button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
  }
  </div>
</fieldset>