@import models.sources.SQLSource

@import models.users.User

@import views.html.components._
@import utils.SidebarElement
@import helper._

@(user: User, sidebarSources: java.util.List[SidebarElement], sqlSourceForm: play.data.Form[SQLSource])

@p = {
<p>sidebar</p>
}

@main(user)(sidebar(p)) {
    <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">
        <div class="containter">
        @form(action = controllers.routes.SourceController.addSQLSource()) {
            @CSRF.formField
            @views.html.sources.sqlSourceFieldset("Add New SQL Source")
        }
        </div>
    </div>

}