@import models.connections.SQLConnection

@import models.sources.SQLSource

@(sqlSourceForm: play.data.Form[SQLSource], formTitle: String = "", detail : Boolean)

<fieldset>
    <div id="legend" class="mrgT10">
        <legend>@Html(formTitle)</legend>
    </div>

    <div class="form-group">
        <label for="sourceName">Source Name</label>
        <input type="text"
        class="form-control"
        id="sourceName"
        name="sourceName"
        width="100%"
        required="true"
        value="@sqlSourceForm("sourceName").value()">
    </div>

    <div class="form-group">
        <label for="sourceDescription">Description</label>
        <input
        type="textarea"
        class="form-control input"
        id="sourceDescription"
        name="sourceDescription"
        width="100%"
        value="@sqlSourceForm("sourceDescription").value()">
    </div>

    <div class="form-group">
        <label for="connectionId">SQL Connection</label>
        <select
        class="form-control input"
        id="connectionId"
        name="connectionId"
        style="width:100%"
        required="true">
            <option value="">-- Chose Connection--</option>
            @for(p <- SQLConnection.find.all) {
                @if(p.getId.toString == sqlSourceForm("connectionId").value()) {
                    <option value="@p.getId.toString" selected>@p.getConnectionName</option>
                } else {
                    <option value="@p.getId.toString">@p.getConnectionName</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label for="factTable">Fact Table</label>
        <select
        class="form-control"
        id="factTable"
        name="factTable"
        style="width:100%">
        @if(sqlSourceForm("factTable").value() != "") {
            <option value="@sqlSourceForm("factTable").value" selected>@sqlSourceForm("factTable").value<option>
        }
        </select>
    </div>

    <div class="form-group">
        <label for="fromClause">From Clause</label>
        <textarea
        class="form-control input"
        id="fromClause"
        name="fromClause"
        required="true">
        @sqlSourceForm("fromClause").value()
        </textarea>
    </div>

    <div class="pull-left">
        <button type="button" class="btn btn-primary">Pivot</button>
    </div>
    <div class="pull-right">
    @if(detail){
        <button id="submit" type="submit" value="Submit" class="btn btn-success">Update</button>
        <a href="@controllers.routes.SourceController.deleteSQLSource(sqlSourceForm.get.getId)" class="no-style">
            <button type="button" class="btn btn-danger">Delete</button>
        </a>
    } else {
        <button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
    }
    </div>
</fieldset>