@import helper._
@import models.connections.SQLConnection

@import models.sources.SQLSource

@(sqlSourceForm: play.data.Form[SQLSource], formTitle: String = "", detail : Boolean)

<fieldset>
    <div id="legend" class="mrgT10">
        <legend>@Html(formTitle)</legend>
    </div>

    @inputText(sqlSourceForm("sourceName"),
        '_showConstraints->false,
        '_label->"Source Name",
        'placeholder->"my-source-name",
        'style-> "width:100%",
        'class-> "form-control",
        'required -> true,
        'help->"Enter a name for this source")

    @textarea(sqlSourceForm("sourceDescription"),
        '_showConstraints->false,
        '_label->"Source Description",
        'placeholder->"Provide a description",
        'rows->3, 'style-> "width:100%; resize:none;",
        'class-> "form-control",
        'required -> true,
        'help->"Enter the connection description")

    <dl class=" " id="sqlconnection_id_field">

        <dt><label for="sqlconnection_id">SQL Connection</label></dt>
        <dd>
            <select
            class="form-control input"
            id="sqlconnection_id"
            name="sqlconnection_id"
            style="width:100%"
            required="true">
                <option value="">-- Choose Connection--</option>
                @for(p <- SQLConnection.find.all) {
                    @if(p.getId.toString == sqlSourceForm("connection.id").value()) {
                        <option value="@p.getId.toString" selected>@p.getConnectionName</option>
                    } else {
                        <option value="@p.getId.toString">@p.getConnectionName</option>
                    }
                }
            </select>
        </dd>

    </dl>


    <div class="form-group hidden">
        <label for="fromClause">From Clause</label>
        <textarea
        class="form-control input"
        id="fromClause"
        name="fromClause">
        @sqlSourceForm("fromClause").value()
        </textarea>
    </div>

    <div class="form-inline">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">FROM</div>
            <select class="form-control input-sm" id="from-clause-fromtable" required="true"></select>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">AS</div>
            <input type="text" class="form-control input-sm" id="from-clause-fromtable-alias" required="true">
        </div>
        <button type="button" id="add-join" class="btn btn-sm btn-info">Add Join</button>
    </div>
    <div id="joins"></div>


    <hr>
    <div class="pull-left">
        <button type="button" class="btn btn-primary">Pivot</button>
    </div>
    <div class="pull-right">
    @if(detail){
        <button id="submit" type="submit" value="Submit" class="btn btn-success">Update</button>
        <a href="@controllers.routes.SourceController.deleteSQLSource(sqlSourceForm.get.getId)" class="no-style">
            <button type="button" class="btn btn-danger">Delete</button>
        </a>
    } else {
        <button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
    }
    </div>
</fieldset>