@import models.connections.SQLConnection

@(formTitle: String = "")

<script src="@routes.Assets.versioned("javascripts/sqlSourceFieldset.js")"></script>
<fieldset>
    <div id="legend" class="mrgT10">
        <legend>@Html(formTitle)</legend>
    </div>

    <div class="form-group">
        <label for="sourceName">Source Name</label>
        <input type="text" class="form-control" id="sourceName" name="sourceName" width="100%">
    </div>

    <div class="form-group">
        <label for="sourceDescription">Description</label>
        <input type="textarea" class="form-control" id="sourceDescription" name="sourceDescription" width="100%">
    </div>

    <div class="form-group">
        <label for="connection">SQL Connection</label>
        <select class="form-control" id="connection" name="connection" style="width:100%">
            @for(p <- SQLConnection.find.all) {
                <option value="@p.getId">@p.getConnectionName</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="factTable">Fact Table</label>
        <select class="form-control" id="factTable" name="factTable" style="width:100%"></select>
    </div>

    <div class="form-group">
        <label for="dimensionTables">Dimension Tables</label>
        <select multiple class="form-control" id="dimensionTables" style="width:100%" name="dimensionTables"></select>
    </div>

    <div class="form-group">
        <label for="fromClause">From Clause</label>
        <textarea class="form-control" id="fromClause" name="fromClause" ></textarea>
    </div>

    <div class="form-group pull-right">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="submit" type="submit" value="Submit" class="btn btn-primary">Next</button>
        </div>
    </div>
</fieldset>