@import helper._
@import models.pivottable.PivotTable
@import utils.FieldForm


@(pivotTable : PivotTable, columnForm : play.data.Form[FieldForm])

<!-- Modal -->
<div id="columnLabelsModal" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">

      <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Column Labels</h4>
      </div>
      @helper.form(controllers.routes.PivotTableController.addColumn(), 'enctype -> "multipart/form-data", 'class -> "columnForm",  'id -> "columnForm"){
        @CSRF.formField
        <div class="modal-body">
            @if(pivotTable != null) {
                @select(
                field = columnForm("fieldID"),
                options = pivotTable.availableFields.map(field => field.getId.toString -> field.getFieldName),
                '_default -> "Please Select a Field"
                )
            }

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      }
    </div>

  </div>
</div>