@import helper._
@import models.pivottable.PivotTable
@import models.pivottable.PivotValueType
@import utils.ValueForm


@(pivotTable : PivotTable, valueForm : play.data.Form[ValueForm])

<!-- Modal -->
<div id="valuesModal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">

            <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Values</h4>
            </div>
            @helper.form(controllers.routes.PivotTableController.addValue(), 'enctype -> "multipart/form-data", 'class -> "valueForm",  'id -> "valueForm"){
                @CSRF.formField
                <div class="modal-body">
                    @select(
                        field = valueForm("fieldID"),
                        options = pivotTable.availableFields.map(field => field.getId.toString -> field.getFieldName),
                        '_default -> "Please Select a Field"
                    )
                    @select(
                        field = valueForm("valueTypeID"),
                        options = PivotValueType.find.all.map(valType => valType.getId.toString -> valType.getDisplayName),
                        '_default -> "Please Select a Type"
                    )
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
        </div>

    </div>
</div>