@import models.pivottable.PivotTable
@import models.pivottable.Filter

@(pivotTable : PivotTable, filter : Filter)

<!-- Modal -->
<div id="filterDetails@filter.getId" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">

            <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@filter.getField.getFieldName Values</h4>
            </div>
            <div class="modal-body">
                <ul>
                    @for(value <- filter.getFilterValidValues) {
                        <li>@value.getSpecificValue</li>
                    }
                </ul>

                <div id="filterOptions"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>