@import helper._
@import models.pivottable.PivotTable
@import models.pivottable.PivotValueType
@import utils.forms.ValueForm


@(pivotTable : PivotTable, valueForm : play.data.Form[ValueForm])

<!-- Modal -->
<div id="valuesModal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">

            <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Values</h4>
            </div>
            @helper.form(controllers.routes.PivotTableController.addValue(pivotTable.getId), 'enctype -> "multipart/form-data", 'class -> "valueForm",  'id -> "valueForm"){
                @CSRF.formField
                <div class="modal-body">
                @if(pivotTable != null) {

                    @select(
                        field = valueForm("fieldID"),
                        options = pivotTable.availableFieldsValues.map(field => field.getId.toString -> field.getFieldName),
                        '_label -> "Field",
                        '_default -> "Please Select a Field",
                        '_showConstraints->false,
                        'rows->3, 'style-> "width:100%; resize:none;",
                        'class-> "form-control",
                        'required -> true
                    )

                    @select(
                        field = valueForm("valueTypeID"),
                        options = PivotValueType.find.all().map(field => field.getId.toString -> field.getDisplayName),
                        '_label -> "Value Type",
                        '_default -> "Please Select a Type",
                        '_showConstraints->false,
                        'rows->3, 'style-> "width:100%; resize:none;",
                        'class-> "form-control",
                        'required -> true
                    )
                }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }
        </div>

    </div>
</div>