#sideBarBuilder{
    position: relative;
    width: 100%
}


#pagewrapper{
    width: 100%;
    height: 70px;
}

#fieldwrapper{
    height: 200px;
    width: 100%;
}

#valueswrapper{
    height: 150px;
    width: 100%;
}

.rowcol{
    height:125px;
    width: 50%;
}

.wrapper {
    float: left;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}
.threadwindow {
    overflow-y: auto;
    left: 0;
    position: absolute;
    top: 40px;
    min-width: 100%;
    right: 0;
    bottom: 0;
}

#pageFrm{
    overflow-y: hidden;
}