@import helper._
@import views.html.components._
@import models.users.User
@import utils.SidebarElement
@import utils.forms.UserForm
@import views.html.users.sidebarContent

@(user: User,
        userForm: play.data.Form[UserForm],
        sidebarUsers: java.util.List[SidebarElement])

@main(user)(sidebar(sidebarContent(sidebarUsers))) {

  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    @if(flash.containsKey("success")) {
      <div class="well">
        <div id="success-message" class="text-success">
        @Controller.flash.get("success")
        </div>
      </div>
    }
    @if(flash.containsKey("error")) {
      <div class="well">
        <div id="error-message" class="text-danger">
        @Controller.flash.get("error")
        </div>
      </div>
    }

    @form(action = controllers.routes.UsersController.addUser(), 'class -> "form-horizontal") {
      @CSRF.formField
      @views.html.users.userFieldset(userForm, "Add New User", false)
    }

  </div>
}