@import models.pivottable.PivotTable
@import views.html.tables.builder._
@import utils.forms.ValueForm
@import utils.forms.FieldForm

@(pivotTable: PivotTable, pageForm : play.data.Form[FieldForm], rowForm : play.data.Form[FieldForm],
        columnForm : play.data.Form[FieldForm], valueForm : play.data.Form[ValueForm], filterForm : DynamicForm)

<h3>Pivot Table Builder</h3>
<div>
  <div class="row">
    <div>
      <div class="col-md-4">
        @pageLabels(pivotTable)
      </div>
      <div class="col-md-4">
        @rowLabels(pivotTable)
      </div>
      <div class="col-md-4">
      @columnLabels(pivotTable)
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <div class="col-md-4">
      @values(pivotTable)
      </div>
      <div class="col-md-4">
      @filter(pivotTable)
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Actions</div>
          <div class="panel-body">
            <div class="center">
              <div>
                <a href="@controllers.routes.PivotTableController.displayPivotTable(pivotTable.getId)" class="no-style">
                  <button type="button" class="btn btn-success mrgB10 wth-100">Display Table</button>
                </a>
              </div>
              <div>
                <a href="@controllers.routes.PivotTableController.excelExport(pivotTable.getId)" class="no-style">
                  <button type="button" class="btn btn-primary mrgB10 wth-100">Export Table</button>
                </a>
              </div>
              <button id="deleteTable" type="button" class="btn btn-danger mrgB10 wth-100" data-toggle="modal" data-target="#deleteModal">
                Delete Table
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@pageLabelsModal(pivotTable, pageForm)
@rowLabelsModal(pivotTable, rowForm)
@columnLabelsModal(pivotTable, columnForm)
@valuesModal(pivotTable, valueForm)
@filterModal(pivotTable, filterForm)
@for(filter <- pivotTable.getFiltersList) {
  @filterDetailsModal(pivotTable, filter)
}
@deleteModal(pivotTable)