@import helper._
@import views.html.components._
@import models.users.User
@import utils.SidebarElement
@import utils.pivotTableHandler.PivotTableHandler
@import views.html.tables.sidebarContent
@import utils.forms.FieldForm
@import utils.forms.ValueForm

@(user: User,
        pivotTableHandler : PivotTableHandler,
        sidebarTables: java.util.List[SidebarElement],
        pageForm : play.data.Form[FieldForm],
        rowForm : play.data.Form[FieldForm],
        columnForm : play.data.Form[FieldForm],
        valueForm : play.data.Form[ValueForm],
        filterForm : DynamicForm,
        display : Boolean)

@builder = {
@views.html.tables.sidebarBuilder(pivotTableHandler.getPivotTable, pageForm, rowForm, columnForm, valueForm, filterForm)
}
@main(user)(sidebar(sidebarContent(sidebarTables)(builder))){

  <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-2 main">
    @if(flash.containsKey("success")) {
      <div class="well">
        <div id="success-message" class="text-success">
        @Controller.flash.get("success")
        </div>
      </div>
    }
    @if(flash.containsKey("error")) {
      <div class="well">
        <div id="error-message" class="text-danger">
        @Controller.flash.get("error")
        </div>
      </div>
    }
    <div class="overflow-auto">
      <ul class="nav nav-tabs nav-justified">
        <li @if(!display){class="active"}>
          <a href="@controllers.routes.PivotTableController.getTable(pivotTableHandler.getPivotTable.getId)">Setup</a>
        </li>
        <li @if(display){class="active"}>
          <a href="@controllers.routes.PivotTableController.displayPivotTable(pivotTableHandler.getPivotTable.getId)">
            Display Pivot Table
          </a>
        </li>
      </ul>
      <div class="tab-content">
      @if(!display) {
        <div id="setup" class="tab-pane fade in active">
        @views.html.tables.setup(pivotTableHandler.getPivotTable, pageForm, rowForm, columnForm, valueForm, filterForm)
        </div>
      }
        @if(display) {
          <div id="display" class="tab-pane fade in active">
            <h3>Results</h3>
            <div class="row">
              <div class="col-md-4">
                <h6>Pages</h6>
                <ul>
                @for(page <- pivotTableHandler.getPivotTable.getPivotPageList){
                  <li>@page.getField.getFieldName</li>
                }
                </ul>
              </div>
              <div class="col-md-4">
                <h6>Rows</h6>
                <ul>
                @for(row <- pivotTableHandler.getPivotTable.getPivotRowList){
                  <li>@row.getField.getFieldName</li>
                }
                </ul>
              </div>
              <div class="col-md-4">
                <h6>Columns</h6>
                <ul>
                @for(col <- pivotTableHandler.getPivotTable.getPivotColumnList){
                  <li>@col.getField.getFieldName</li>
                }
                </ul>
              </div>
            </div>
            <div class="hidden" id="tableID">@pivotTableHandler.getPivotTable.getId</div>
            <dl class=" " id="pageSelect_field">
              <dt><label for="pageSelect">Select Page</label></dt>
              <dd>
                <select class="form-control" id="pageSelect" name="pageSelect" style="width:100%">
                  @for((page, index) <- pivotTableHandler.pages().sortWith(_ < _).zipWithIndex) {
                    <option value="@page" @if(index == 0){selected}>@page</option>
                  }
                </select>
              </dd>

            </dl>

            <div id="tableHere"></div>

          </div>
        }
      </div>
    </div>

  </div>

  @if(display){<script src="@routes.Assets.versioned("javascripts/pivotTable.js")"></script>}
}