 @import models.connections.CSVConnection
@import models.connections.SQLConnection

@(sqlConnections: List[SQLConnection], csvConnections: List[CSVConnection], sqlConnectionForm: Form[SQLConnection])

@main("[x]tab")(sidebar("connection", "/connections/1")) {
    <div class="well">

        <div class="container-fluid">

            @if(flash.containsKey("success")) {
            <div class="well">
                <div id="success-message" class="text-success">
                    @flash.get("New Connection Added.")
                </div>
            </div>
            }
            @if(flash.containsKey("error")) {
            <div class="well">
                <div id="error-message" class="text-danger">
                    @flash.get("Error: Could not Add Connection.")
                </div>
            </div>
            }
            <div>
                <div id="add-new">
                    @helper.form(action = controllers.routes.ConnectionController.addSQLConnection(), 'class -> "form-horizontal") {
                    @sqlConnectionFormFields(sqlConnectionForm)
                    }
                </div>
            </div>
        </div>
    </div>
}