@(title: String)(sidenav: Html)(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@title</title>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
        <link href="@routes.Assets.versioned("assets/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
        <link href="@routes.Assets.versioned("assets/bootstrap/css/bootstrap-theme.min.css")" rel="stylesheet" type="text/css"/>
        <link href="@routes.Assets.versioned("assets/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
        <link href="@routes.Assets.versioned("assets/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css"/>
        <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" type="text/css"/>

        <script src="@routes.Assets.versioned("assets/jquery/jquery-3.1.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("assets/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    </head>

    <body>
        <section class="navbar">
            <nav class="navbar navbar-fixed-top navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">[x]tab</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/sources">Sources</a></li>
                        <li><a href="/connections">Connections</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/signup">Sign Up / Log In</a></li>
                    </ul>
                </div>
            </nav>
        </section>
        <div id="wrapper">
            <div id="sidebar-wrapper">@sidenav</div>
            <div id="page-content-wrapper">@content</div>
        </div>
    </body>
</html>
