@import models.pivottable.PivotTable
@import views.html.tables.builder._
@import utils.forms.ValueForm
@import utils.forms.FieldForm
@import utils.pivotTableHandler.PivotTableHandler

@(pivotTableHandler : PivotTableHandler, pivotTable: PivotTable, rowForm : play.data.Form[FieldForm],
        columnForm : play.data.Form[FieldForm], valueForm : play.data.Form[ValueForm])

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Pivot Table</title>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
        <link href="@routes.Assets.versioned("assets/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
        <link href="@routes.Assets.versioned("assets/bootstrap/css/bootstrap-theme.min.css")" rel="stylesheet" type="text/css"/>
        <link href="@routes.Assets.versioned("assets/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
        <link href="@routes.Assets.versioned("assets/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css"/>
        <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" type="text/css"/>

        <script src="@routes.Assets.versioned("assets/jquery/jquery-3.1.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("assets/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    </head>

    <body>
        <div class="jumbotron text-center">
            <h2>Pivot Table</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h3>Results</h3>
                    <table class="table">
                    @Html(pivotTableHandler.tableHtml())
                    </table>
                </div>
                <div class="col-md-5">
                    <h3>Pivot Table Builder</h3>
                    <div>
                        <div class="row">
                            <div>
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Page Labels</div>
                                        <div class="panel-body">Panel Content</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    @rowLabels(pivotTable)
                                </div>
                                <div class="col-md-4">
                                    @columnLabels(pivotTable)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <div class="col-md-4">
                                @values(pivotTable)
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Report Filter</div>
                                        <div class="panel-body">Panel Content</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel-heading">Actions</div>
                                    <div class="panel-body">
                                        <button id="displayResults" type="button" class="btn btn-success">Display Table</button>
                                        <button id="deleteTable" type="button" class="btn btn-danger">Delete Table</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @rowLabelsModal(pivotTable, rowForm)
        @columnLabelsModal(pivotTable, columnForm)
        @valuesModal(pivotTable, valueForm)
    </body>
</html>