@import models.connections.SQLConnection
@import helper._
@(sqlConnectionForm: Form[SQLConnection])

<fieldset>
    <!-- Header -->
    <div id="legend">
        <legend>Create New Connection</legend>
    </div>
        @select(sqlConnectionForm("connectionDriver"),
        options(Seq("Postgres / Greenplum / Redshift","MySql / Mariadb", "CSV")),
        '_showConstraints->false,
        'help->"Select the database type",
        '_label->"Connection Driver",
        '_default -> "-- Select Driver --")

        @inputText(sqlConnectionForm("connectionName"),
        '_showConstraints->false,
        '_label->"Connection Name",
        'placeholder->"my-first-connection",
        'size->80,
        'help->"Enter a name for this connection")

        @textarea(sqlConnectionForm("connectionDescription"),
        '_showConstraints->false,
        '_label->"Connection Description",
        'placeholder->"Analyze All the Data",
        'rows->3, 'cols-> 80,
        'help->"Enter the connection description")

        @inputText(sqlConnectionForm("connectionHost"),
        '_label->"Connection Host",
        'placeholder->"my.database.com",
        '_showConstraints->false,
        'size->80,
        'help->"Enter the database server host name or ip address")

        @inputText(sqlConnectionForm("connectionPort"),
        '_label->"Connection Port Number",
        'placeholder->"5432",
        '_showConstraints->false,
        'help->"Enter the database server port number")

        @inputText(sqlConnectionForm("connectionUser"),
        '_label->"Connection User Name",
        'placeholder->"user_name",
        'size->80,
        '_showConstraints->false,
        'help->"Enter the database user name")

        @inputPassword(sqlConnectionForm("connectionPassword"),
        '_label->"Connection Password",
        'placeholder->"password",
        'size->80,
        '_showConstraints->false,
        'help->"Enter the database server password")

        @inputText(sqlConnectionForm("connectionDBName"),
        '_label->"Connection Database Name",
        'placeholder->"password",
        'size->80,
        '_showConstraints->false,
        'help->"Enter the database name")

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
            <button id="cancel" class="btn cancel">Cancel</button>
        </div>
    </div>
</fieldset>